*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    background-image: linear-gradient(to right, #000000, #240417, #370231, #3d0457, #1e1a86);
}
header, #nav-head{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo{
    display: none;
}
#nav-head{
    margin: 4%;
    justify-content: space-evenly;
}
#nav-head a{
    margin-inline: auto;
    border: 2px solid wheat;
    border-radius: 5%;
    padding: 2%;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Main */
h1{
    width: 100%;
    font-size: 21px;
    margin-block: 5%;
    text-align: center;
    border: 2px solid black;
    border-inline: none;
    padding: 2.5%;
    background-color: rgb(224, 245, 253);
    box-sizing: border-box;
}
h2{
    margin-left: 5%;
    margin-bottom: 2.5%;
    font-size: 18px;
}
.no-first{
    margin-top: 5%;
}
.lib-container{
    width: 100%;
    padding-block: 2.5%;
    padding-left: 3%;
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
}
.list-indicator{
    float: right;
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 3%;
}
h3{
    display: inline-block;
}
.lib-div li{
    width: 100%;
    padding: 1.5%;
    padding-left: 5%;
    border: 1px solid black;
    box-sizing: border-box;
    /* display: none; */
}
p{
    font-size: 16px;
    max-width: 96%;
    margin-left: 2%;
}
a{
    text-decoration: none;
    font-size: 17px;
}

/* list animation */
#nav-head a{
    transition: background-color, .5s, color, .5s, border-color, .5s;
}
#nav-head a:hover{
    background-color: white;
    color: #000000;
    border-color: #000000;
}
.lib-div{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height, 1.5s;
}
.lib-div li{
    display: block;
    transition: background-color, .5s;
}
.lib-div li:hover{
    background-color: lightblue;
}

/* Aside */
#list-rec li{
    margin-left: 5%;
    margin-top: 2%;
}

/* Share */
#share{
    margin-bottom: 10%;
}
#share li{
    margin-left: 5%;
    margin-top: 2%;
}

/* Footer */
footer{
    box-sizing: border-box;
    padding-bottom: 10%;
    width: 100%;
    background-image: linear-gradient(to left, #000000, #240417, #370231, #3d0457, #1e1a86);
}

/* Media */
@media screen and (min-height: 720px) {
    #nav-head a{
        font-size: 1em;
    }
    h2{
        font-size: 1.2em;
    }
    p, main a, section a, aside a{
        font-size: 1.1em;
    }
}
@media screen and (min-width: 768px) {
    header{
        justify-content: end;
    }
    .logo{
        display: block;
        box-sizing: border-box;
        width: 125px;
        height: 125px;
        padding: 1%;
        margin: auto;
    }
    #nav-head{
        width: 80%;
        justify-content: space-around ;
    }
    #nav-head a{
        margin-inline: 0;
        padding: 3%;
        font-size: 1.5em;
    }
    h1{
        font-size: 1.8em;
    }
    h2, h3{
        font-size: 1.6em;
    }
    p, main a, section a, aside a{
        font-size: 1.5em;
    }
    #lib-list{
        display: flex;
        flex-direction: column;
    }
    .lib-container{
        width: 90%;
        margin: auto;
    }
        .lib-div li{
        font-size: 1.1em;
        width: 90%;
        margin: auto;
        padding: 2%;
    }
}
@media screen and (min-width: 1025px) {
    #nav-head{
        margin: 3%;
    }
    #nav-head a{
        padding: 2%;
        font-size: 1.4em;
    }
    .logo{
        width: 150px;
        height: 150px;
    }
    h1{
        font-size: 1.6em;
        padding: 2%;
    }
    h2, h3{
        font-size: 1.4em;
    }
    p, main a, section a, aside a{
        font-size: 1.3em;
    }
}
